@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variable fonts usage: */
:root {
  font-family: 'Aeonik', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Aeonik', sans-serif;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: 'Aeonik';
  src: url('../assets/fonts/aeonik/Aeonik-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../assets/fonts/aeonik/Aeonik-Regular.otf'),
    url('../assets/fonts/aeonik/Aeonik-Regular.otf');
}
@font-face {
  font-family: 'Aeonik';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../assets/fonts/aeonik/Aeonik-RegularItalic.otf'),
    url('../assets/fonts/aeonik/Aeonik-RegularItalic.otf');
}

body {
  font-family: 'Aeonik', sans-serif !important;
}
